In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/usholidays.csv')

In [8]:
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['weekday'] = df['Date'].dt.weekday
df['day'] = df['Date'].dt.day

In [15]:
df['is_holiday'] = 1

In [16]:
df

,Unnamed: 0,Date,Holiday,year,month,weekday,day,is_holiday
0,0,2010-12-31,New Year's Day,2010,12,4,31,1
1,1,2011-01-17,"Birthday of Martin Luther King, Jr.",2011,1,0,17,1
2,2,2011-02-21,Washington's Birthday,2011,2,0,21,1
3,3,2011-05-30,Memorial Day,2011,5,0,30,1
4,4,2011-07-04,Independence Day,2011,7,0,4,1
...,...,...,...,...,...,...,...,...
480,480,1966-09-05,Labor Day,1966,9,0,5,1
481,481,1966-10-12,Columbus Day,1966,10,2,12,1
482,482,1966-11-11,Veterans Day,1966,11,4,11,1
483,483,1966-11-24,Thanksgiving Day,1966,11,3,24,1
484,484,1966-12-25,Christmas Day,1966,12,6,25,1

In [21]:
df = df[df.year >= 2009]
df = df[df.year <= 2015]

In [24]:
df = df.drop(['Holiday', 'Unnamed: 0'], axis=1)

In [25]:
df

          Date  year  month  weekday  day  is_holiday
0   2010-12-31  2010     12        4   31           1
1   2011-01-17  2011      1        0   17           1
2   2011-02-21  2011      2        0   21           1
3   2011-05-30  2011      5        0   30           1
4   2011-07-04  2011      7        0    4           1
5   2011-09-05  2011      9        0    5           1
6   2011-10-10  2011     10        0   10           1
7   2011-11-11  2011     11        4   11           1
8   2011-11-24  2011     11        3   24           1
9   2011-12-26  2011     12        0   26           1
10  2012-01-02  2012      1        0    2           1
11  2012-01-16  2012      1        0   16           1
12  2012-02-20  2012      2        0   20           1
13  2012-05-28  2012      5        0   28           1
14  2012-07-04  2012      7        2    4           1
15  2012-09-03  2012      9        0    3           1
16  2012-10-08  2012     10        0    8           1
17  2012-11-12  2012     11        0   12           1
18  2012-11-22  2012     11        3   22           1
19  2012-12-25  2012     12        1   25           1
20  2013-01-01  2013      1        1    1           1
21  2013-01-21  2013      1        0   21           1
22  2013-02-18  2013      2        0   18           1
23  2013-05-27  2013      5        0   27           1
24  2013-07-04  2013      7        3    4           1
25  2013-09-02  2013      9        0    2           1
26  2013-10-14  2013     10        0   14           1
27  2013-11-11  2013     11        0   11           1
28  2013-11-28  2013     11        3   28           1
29  2013-12-25  2013     12        2   25           1
30  2014-01-01  2014      1        2    1           1
31  2014-01-20  2014      1        0   20           1
32  2014-02-17  2014      2        0   17           1
33  2014-05-26  2014      5        0   26           1
34  2014-07-04  2014      7        4    4           1
35  2014-09-01  2014      9        0    1           1
36  2014-10-13  2014     10        0   13           1
37  2014-11-11  2014     11        1   11           1
38  2014-11-27  2014     11        3   27           1
39  2014-12-25  2014     12        3   25           1
40  2015-01-01  2015      1        3    1           1
41  2015-01-19  2015      1        0   19           1
42  2015-02-16  2015      2        0   16           1
43  2015-05-25  2015      5        0   25           1
44  2015-07-03  2015      7        4    3           1
45  2015-09-07  2015      9        0    7           1
46  2015-10-12  2015     10        0   12           1
47  2015-11-11  2015     11        2   11           1
48  2015-11-26  2015     11        3   26           1
49  2015-12-25  2015     12        4   25           1
100 2010-01-01  2010      1        4    1           1
101 2010-01-18  2010      1        0   18           1
102 2010-02-15  2010      2        0   15           1
103 2010-05-31  2010      5        0   31           1
104 2010-07-05  2010      7        0    5           1
105 2010-09-06  2010      9        0    6           1
106 2010-10-11  2010     10        0   11           1
107 2010-11-11  2010     11        3   11           1
108 2010-11-25  2010     11        3   25           1
109 2010-12-25  2010     12        5   25           1